<header>
    <div class="container">
        <div class="upHeader">
            <div class="socialIcons">
                <div class="socialIcon linkedin"><a href="#" class="social" ></a></div>
                <div class="socialIcon twitter"><a href="#" class="social" ></a></div>
                <div class="socialIcon pinterest"><a href="#" class="social" ></a></div>
                <div class="socialIcon google"><a href="#" class="social" ></a></div>
                <div class="socialIcon rss"><a href="#" class="social" ></a></div>
            </div>
            <div class="searchBar">
                <input class="searchInput" type="text" placeholder="Search Our Website..." />
                <button class="searchButton" >SEARCH</button>
            </div>
        </div>
        <div class="downHeader">
            <div class="logo">
                <div class="logoItemUP"></div>
                <div class="logoItemDown"></div>
            </div>
            <div class="navbar">
                <nav>
                    <ul class="nav">
                        <li class="active"><a href="#" >HOME</a></li>
                        <li><a href="#" >STYLE DEMO</a></li>
                        <li><a href="#" >FULL WIDTH</a></li>
                        <li><a href="#" >DROPDOWN</a></li>
                        <li><a href="#" >PORTFOLIO</a></li>
                        <li><a href="#" >GALLERY</a></li>
                    </ul>
                </nav>
            </div>
        </div>

    </div>
</header>

<!-- slider section-->

<section>
    <div class="container">
        <div class="slider">
            <div class="tvWrapper">
                <div class="tv"></div>
                <div class="screen" ></div>
            </div>
            <div class="textWrapper">
                <h2 class="sliderTitle">YOUR TITLE HERE</h2>
                <p class="sliderText" >Cursuspenatisaccum ut curabitur nulla tellus tor ames a in curabitur pede. Idet mollisi eros dis orci congue elis et curabitur consequam intesque. Curabiturpisametur in ante.</p>
                <button class="sliderButton" >READ MORE »</button>
            </div>
            <div class="sliderDots">
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot active"></div>
            </div>
        </div>
    </div>
</section>

<!-- intro section -->
<section>
    <div class="container">
        <div class="introItems">
            <div id="p1" class="introItem">
                <div class="introPicture"></div>
                <h3 class="introTitle">პროდუქტი 1</h3>
                <div class="products form">
                    <label for="p1amount">amount</label>
                    <input type="text" id="p1amount" name="p1amount" placeholder="პროდუქტის ფასი" value="20.00" autocomplete="off" />
                    <label for="p1description">description</label>
                    <input type="text" id="p1description" name="p1description" placeholder="პროდუქტის აღწერა" value="desc" autocomplete="off" />
                    <label for="p1product_id">product_id</label>
                    <input type="number" id="p1product_id" name="p1product_id" placeholder="პროდუქტის აიდი" value="23112" autocomplete="off" />
                </div>
                <button id="product1_add" class="introButton">კალათაში დამატება</button>
            </div>
            <div id="p2" class="introItem">
                <div class="introPicture"></div>
                <h3 class="introTitle">პროდუქტი 2</h3>
                <div class="products form">
                    <label for="p2amount">amount</label>
                    <input type="text" id="p2amount" name="p2amount" placeholder="პროდუქტის ფასი" value="25.00" autocomplete="off" />
                    <label for="p2description">description</label>
                    <input type="text" id="p2description" name="p2description" placeholder="პროდუქტის აღწერა" value="desc" autocomplete="off" />
                    <label for="p2product_id">product_id</label>
                    <input type="number" id="p2product_id" name="p2product_id" placeholder="პროდუქტის აიდი" value="23113" autocomplete="off" />
                </div>
                <button id="product2_add" class="introButton">კალათაში დამატება</button>

            </div>
            <div id="p3" class="introItem">
                <div class="introPicture"></div>
                <h3 class="introTitle">პროდუქტი 3</h3>
                <div class="products form">
                    <label for="p3amount">amount</label>
                    <input type="text" id="p3amount" name="p3amount" placeholder="პროდუქტის ფასი" value="10.00" autocomplete="off" />
                    <label for="p3description">description</label>
                    <input type="text" id="p3description" name="p3description" placeholder="პროდუქტის აღწერა" value="desc" autocomplete="off" />
                    <label for="p3product_id">product_id</label>
                    <input type="number" id="p3product_id" name="p3product_id" placeholder="პროდუქტის აიდი" value="23114" autocomplete="off" />
                </div>
                <button id="product3_add" class="introButton">კალათაში დამატება</button>

            </div>
        </div>
    </div>
</section>

<!-- services section -->

<section>
    <div class="container">
        <div class="services">
            <div class="shout">
                <p>“ Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam 
                    erat. In fringilla massa ut nisi ullamcorper pellentesque „</p>
            </div>
            <div class="serviceItems">
                <div class="serviceItem form">
                    <label for="intent">intent</label>
                    <div class="select">
                        <select id="intent">
                          <option value="CAPTURE">CAPTURE</option>
                          <option value="AUTHORIZE">AUTHORIZE</option>
                        </select>
                      </div>
                </div>

                <div class="serviceItem form">
                    <label for="redirect_url">redirect_url</label>
                    <input type="text" id="redirect_url" name="redirect_url" placeholder="მაღაზიის მისამართი" autocomplete="off" value="მაღაზიის მისამართი სადაც უნდა დაბრუნდეს გადახდის შემდეგ" required />
                </div>

                <div class="serviceItem form">
                    <label for="shop_order_id">shop_order_id</label>
                    <input type="text" id="shop_order_id" name="shop_order_id" placeholder="მაღაზიის_შეკვეთის_იდენტიფიკატორი" value="მაღაზიის_შეკვეთის_იდენტიფიკატორი" autocomplete="off" required />
                </div>

                <div class="serviceItem form">
                    <label for="card_transaction_id">card_transaction_id</label>
                    <input type="text" id="card_transaction_id" name="card_transaction_id" placeholder="ბარათის ტრანზაქციის აიდი" autocomplete="off" />
                </div>

                <div class="serviceItem form">
                    <label for="capture_method">capture_method</label>
                    <div class="select">
                        <select id="capture_method">
                          <option value="AUTOMATIC">AUTOMATIC</option>
                          <option value="MANUAL">MANUAL</option>
                        </select>
                      </div>
                </div>

                <div class="serviceItem form">
                    <label for="locale">locale</label>
                    <div class="select">
                        <select id="locale">
                          <option value="ka">ka</option>
                          <option value="en">en</option>
                        </select>
                      </div>
                </div>

                <div class="serviceItem form">
                    <label for="amount">amount</label>
                    <input type="text" id="amount" name="amount" placeholder="გადასახდელი სრული თანხა" value="20.00" autocomplete="off" />
                </div>

                <div class="serviceItem form">
                    <label for="currency_code">currency_code</label>
                    <div class="select" >
                        <select id="currency_code">
                          <option value="GEL">GEL</option>
                          <option value="USD">USD</option>
                          <option value="EUR">EUR</option>
                          <option value="GBP">GBP</option>
                        </select>
                      </div>
                </div>

                <div class="serviceItem form">
                    <input type="checkbox" id="shop_order" name="shop_order" checked>
                    <label for="shop_order">show_shop_order_id_on_extract</label>
                </div>

            </div>
            <button class="introButton buy" id="buy">გადახდა</button>
        </div>
    </div>
</section>

<!-- footer -->

<footer>
    <div class="container" >
        <div class="footer" >
            <div class="contactDetails">
                <h5>Contact Details</h5>
                <ul class="contactLinks">
                    <li><a href="#">Company Name</a></li>
                    <li><a href="#">Street Name & Number</a></li>
                    <li><a href="#">Town</a></li>
                    <li><a href="#">Postcode/Zip</a></li>
                    <li><a href="#">Tel: xxxxx xxxxxxxxxx</a></li>
                    <li><a href="#">Fax: xxxxx xxxxxxxxxx</a></li>
                    <li><a class="blue" href="#">Email: contact@mydomain.com</a></li>
                </ul>
            </div>
            <div class="quickLinks">
                <h5>Quick Links</h5>
                <ul class="quick">
                    <li><a class="blue" href="#">Link Text Here</a></li>
                    <li><a class="blue" href="#">Link Text Here</a></li>
                    <li><a class="blue" href="#">Link Text Here</a></li>
                    <li><a class="blue" href="#">Link Text Here</a></li>
                </ul>
            </div>
            <div class="fromTheBlog">
                <h5>From The Blog</h5>
                <div class="footerBlog">
                    <h5>Blog Post Title</h5>
                    <h6>Posted by Admin on 00.00.0000</h6>
                    <p>Vestibulumaccumsan egestibulum eu justo convallis augue estas aenean elit intesque sed facilispede estibulum.</p>
                    <div class="readMore blue">Read More »</div>
                </div>
                
            </div>
            <div class="newsletter">
                <h5>Newsletter</h5>
                <div class="newsletterForm">
                    <input class="name"  type="text" placeholder="Name" />
                    <input class="email" type="text" placeholder="Email" />
                    <button class="submit">SUBMIT</button>
                </div>
            </div>
        </div>
    </div>
</footer>