<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#3bafbe">
    <link href="./assets/styles/main.css" rel="stylesheet" type="text/css" />
    <link href="./assets/styles/responsive.css" rel="stylesheet" type="text/css" />
    <title>demo</title>
</head>
<body>
    <%- body %>
</body>

<script src="./js/main.js"></script>
</html>