*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: Serif,Arial;
  outline: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

a{
  text-decoration: none;
}

:root{
  --blue:#3bafbe;
  --iconBackground: #1f1f1f;
  --linkedin:#0e76a8;
  --twitter:#00acee;
  --pinterest:#c8232c;
  --google:#db4a39;
  --rss:#ee802f;
  --searchBackground:#333333;
  --white:#FFF;
  --borderBottom:#e2e2e2;
  --meniuColor:#999999;
  --sliderTitle:#4a4a4a;
  --shoutColor:#666666;
  --serviceBorder:#d8d8d8;
  --serviceText:#848c92;
  --footerBackground:#252525;
  --footerTitle:#c8c8c8;
  --footerBorder:#2c2c2c;
  --footerPlaceholder:#989898;
  --shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  --background-gradient: linear-gradient(30deg, #f39c12 30%, #f1c40f);
  --gray: #34495e;
  --darkgray: #2c3e50;
}


::-webkit-scrollbar-track
{
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
background-color: #F5F5F5;
border-radius: 50px;
}

::-webkit-scrollbar
{
width: 4px;
background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
background-color: var(--blue);	
border-radius: 50px;
}


.container{
  width:960px;
  margin:auto;
}

header{
  position: sticky;
  border-top: 5px solid var(--blue);
  border-bottom: 1px solid var(--borderBottom);
  width: 100%;
  z-index: 2;
  background-color: var(--white);
  top: -70px;
}

section .container{
  border-bottom:1px solid var(--borderBottom);
}

.upHeader{
  width: 100%;
  padding: 25px 0 0;
  display: flex;
  justify-content: space-between;
}

.socialIcons{
  width:21%;
  display:flex;
  justify-content: space-between;
}

.socialIcon{
  width:32px;
  height:32px;
  background-color: var(--iconBackground);
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: 50%; 
  border-radius: 50%;
  cursor:pointer;
  transition: background 0.3s;
}

.linkedin{
  background-image: url("../public/img/icons/icon-linkedin.png"); 
}

.linkedin:hover{
  background-color:var(--linkedin);
  transition: background 0.3s;
}

.twitter{
  background-image: url("../public/img/icons/icon-twitter.png"); 
}

.twitter:hover{
  background-color:var(--twitter);
  transition: background 0.3s;
}

.pinterest{
  background-image: url("../public/img/icons/icon-pinterest.png"); 
}

.pinterest:hover{
  background-color:var(--pinterest);
  transition: background 0.3s;
}

.google{
  background-image: url("../public/img/icons/icon-google-plus.png"); 
}

.google:hover{
  background-color:var(--google);
  transition: background 0.3s;
}

.rss{
  background-image: url("../public/img/icons/icon-rss.png"); 
}

.rss:hover{
  background-color:var(--rss);
  transition: background 0.3s;
}

.searchBar{
  width:30%;
  display:flex;
  justify-content: space-between;
}

.searchInput{
  background:var(--searchBackground);
  padding:10px;
  border:none;
  width:74%;
  border-radius:10px;
  color:var(--white);
}

.searchInput::placeholder{
  color:var(--white);
}

.searchButton{
  background:var(--blue);
  width:25%;
  color:var(--white);
  border:1px solid transparent;
  border-radius:10px;
  cursor:pointer;
  transition: background 0.3s;
}

.searchButton:hover{
  background:var(--white);
  border:1px solid var(--blue);
  transition: background 0.3s;
  color:var(--blue);
}

.downHeader{
  width:100%;
  display: flex;
  justify-content: space-between;
  padding-bottom:20px;
  padding-top: 10px;
}

.logo{
  width:160px;
  height:45px;
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: 50%; 
}

.logoItemUP{
  width:100%;
  color: #4a4a4a;
}

.logoItemDown{
  width:100%;
  height:30%;
  color: #999999;
  padding-top:5px;
}

.navbar{
  width:530px;
  position:relative;
}

.nav{
  display:flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  font-size:12px;
  width:100%;
  position: absolute;
  bottom:0;
  cursor:pointer;
}

.headerCart{
  font-size: 20px;
}

.headerCartCounter{
  width: 16px;
  height: 16px;
  background-color: var(--blue);
  border-radius: 50%;
  font-size: 11px;
  position: absolute;
  top: -7px;
  color: var(
--white);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  right: -12px;
}

.nav li a{
  color:var(--meniuColor);
  transition: color 0.3s;
}

.nav li a:hover{
  color:var(--blue);
  transition: color 0.3s;
}

.nav .active a{
  color:var(--blue);
}

.slider{
  padding:50px 0;
  display:flex;
  justify-content: space-between;
  position: relative;
}

.tvWrapper{
  position:relative;
}

.tv{
  width:400px;
  height:320px;
  background-image: url("../public/img/icons/tv.png"); 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size:cover;

}

.screen{
  width:366px;
  height:206px;
  position: absolute;
  z-index: 1;
  top: 17px;
  left: 17px;
  background-image: url("../public/img/docs.png"); 
  background-repeat: no-repeat; 
  background-size:cover;
}

.textWrapper{
  width: 440px;
  height: 270px;
  display: grid;
  padding: 20px 0;
  grid-gap: 24px;
}

.sliderTitle{
  line-height: 45px;
  font-size: 42px;
  font-family: serif;
  color:var(--sliderTitle);
}

.sliderText{
  font-size: 16px;
  line-height: 1.6;
  color:var(--meniuColor);
}

.sliderButton{
  width: 190px;
  height: 35px;
  font-size: 16px;
  background-color: var(--blue);
  border: 1px solid transparent;
  border-radius: 10px;
  color: var(--white);
  cursor:pointer;
  transition:0.3s;
}


.sliderButton:hover{
  background-color:var(--white);
  border:1px solid var(--blue);
  color:var(--blue);
  transition:0.3s;
}

.sliderDots{
  display: grid;
  grid-auto-flow: column;
  grid-gap: 5px;
  position: absolute;
  bottom: 50px;
  right: 5px;
}

.dot{
  width:15px;
  height:15px;
  border:3px solid var(--blue);
  background-color:var(--blue);
  border-radius:50%;
  transition: background 0.3s;
  cursor:pointer;
}

.dot:hover{
  background-color:var(--white);
  transition: background 0.3s;
}

.sliderDots .active{
  background-color:var(--white);
}

.introItems{
  padding: 35px 0 50px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.introItem {
  width:300px;
  margin-top:15px
}

.introPicture{
  width:100%;
  height:160px;
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: contain;
}

.introTitle{
  margin: 30px 0 20px 0;
  font-size: 16px;
  color:var(--sliderTitle);
}

.introText{
  font-size: 13px;
  margin-bottom: 15px;
  color:var(--meniuColor);
}

.introButton{
  font-size: 13px;
  width: 180px;
  height: 35px;
  background-color: var(--blue);
  border: 1px solid transparent;
  border-radius: 10px;
  color: var(--white);
  cursor:pointer;
  transition:0.3s;
}

.introButton:hover{
  background-color:var(--white);
  border:1px solid var(--blue);
  color:var(--blue);
  transition:0.3s;
}

.delete {
  background-color: #c8232c;
}

.services{
  margin-top: 72px;
  padding:35px 0 50px 0;
}

.shout{
  font-size: 22px;
  text-align:center;
  width:70%;
  margin:auto;
  color:var(--shoutColor);
}

.serviceItems{
  padding-top: 45px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.servicePictureWrapper{
  width:90px;
  height:90px;
  padding:4px;
  border:1px solid var(--serviceBorder);
}

.servicePicture {
  width:80px;
  height:80px;
  background-image: url("../public/img/service.jpg"); 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size:cover;
}

.serviceItem{
  display: flex;
  align-items: flex-start;
  margin-top: 15px;
  width: 300px;
  flex-direction: column;
  gap: 16px;
}

.serviceTextWrapper{
  line-height: 1.6;
  width:195px;
}

.serviceTitle{
  color:var(--blue);
  font-size:13px;
}

.serviceText{
  color:var(--serviceText);
  font-size:12px;
}

footer{
  background-color:var(--footerBackground);
}

.footer{
  padding:40px 0;
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap:15px;
}

.footer h5 {
  font-size: 20px;
  padding-bottom:30px;
  color:var(--footerTitle);
}

.blue{
  color:var(--blue)!important;
}

.contactLinks{
  list-style: none;
  font: 12px;
  line-height: 1.6;

}

.contactLinks li a{
  color:var(--meniuColor);
  font-size: 12px;
}

.quick{
  list-style-type: none;
}

.quick li{
  
  padding:9px 0;
  border-bottom:1px solid var(--footerBorder);
}


.quick li a{
  font-size: 12px;
}

.footerBlog{
  line-height: 1.6;
}

.footerBlog h5 {
  color:var(--footerTitle);
  font-size:13px;
  padding:0;
}

.footerBlog h6 {
  color:var(--footerTitle);
  font-size:11px;
  padding: 5px 0 10px 0;
}

.footerBlog p {
  color:var(--footerTitle);
  font-size:12px;
}

.readMore{
  font-size:12px;
  text-align: right;
}

.newsletterForm{
  display:grid;
  grid-gap:10px;
}

.newsletterForm input {
  width:100%;
  padding:10px;
  background-color:var(--footerBorder);
  border:none;
  border-radius:10px;

}

.newsletterForm input::placeholder {
  color:var(--footerPlaceholder);
}

.newsletterForm button {
  width:80px;
  height:35px;
  background-color: var(--blue);
  border: 1px solid transparent;
  border-radius: 10px;
  color: var(--white);
  cursor:pointer;
  transition:0.3s;
  font-size: 13px;
}

.newsletterForm button:hover{
  background-color:var(--white);
  border:1px solid var(--blue);
  color:var(--blue);
  transition:0.3s;
}

.products {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-bottom: 16px;
}

button[disabled], button[disabled]:hover {
  background-color: var(--footerTitle);
  background-color: var(--footerTitle);
  border:1px solid var(--footerTitle);
  color: var(--white);
}

.cart {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgb(0,0,0,0.5);
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cart.hide {
  display: none;
}

.cartContent {
  width: 600px;
  background-color: #e5e8ed;
  padding: 32px;
  box-shadow: var(--shadow);
  border-radius: 24px;
  max-height: 70vh;
}

.scrollY {
  max-height: 100%;
  overflow-y: auto;
  padding: 0 20px 10px;
}

.cartItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--footerTitle);
  padding: 20px 0;
}

.cartHeader {
  display: flex;
  flex-direction: row-reverse;
  padding: 10px 20px 0;
}

.cartClose {
  font-size: 24px;
  color: var(--gray);
}

.rightSide{
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rightSideEnd {
  width: 110px;
  display: flex;
  justify-content: space-around;
}

.priceWrapper {
  display: flex;
  width: 60px;
  justify-content: space-around;
}

.leftSide {
  width: 220px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cartItemImg {
  width: 70px;
  height: 70px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  box-shadow: var(--shadow);
}

.cartItemInfo{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.cartItemInfo h3 {
  color: var(--sliderTitle);
  font-size: 16px;
}

.cartItemInfo span {
  color: var(--meniuColor);
}

.quantityButton {
  background-color: transparent;
  border: none;
  display: flex;
  color: var(--blue);
  cursor: pointer;
}

.quantityController {
  width: 90px;
  display: flex;
  justify-content: space-around;
  border: 1px solid gray;
  border-radius: 50px;
  align-items: center;
}

.quantityController span {
  cursor: default;
}

.close:hover {
  color: var(--pinterest);
  cursor: pointer;
}

.addProduct {
  display: grid;
  grid-template-columns: auto auto;
  align-items: end;
}

.addButton {
  margin-top: 20px;
  width: 300px;
}

/*********************************************** inputs ********************************************/

::placeholder {
  color: var(--blue);
}

.form label {
font-size:14px;
color:darkgray;
cursor:pointer;
}

.form label,
.form input {
float:left;
clear:both;
}

.form input {
padding:15px 10px;
width:100%;
outline:none;
border:1px solid var(--blue);
border-radius:20px;
display:inline-block;
-webkit-box-sizing:border-box;
   -moz-box-sizing:border-box;
        box-sizing:border-box;
  -webkit-transition:0.2s ease all;
   -moz-transition:0.2s ease all;
    -ms-transition:0.2s ease all;
     -o-transition:0.2s ease all;
        transition:0.2s ease all;
}

.form input[type=text]:focus,
.form input[type="password"]:focus {
border-color: var(--linkedin);
}


/****************** select ***************************/

select {
  /* Reset Select */
  appearance: none;
  outline: 0;
  border: 0;
  box-shadow: none;
  /* Personalize */
  flex: 1;
  padding: 0 1em;
  color: var(--blue);
  background-color: var(--white);
  background-image: none;
  cursor: pointer;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select wrapper */
.select {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  border-radius: .25em;
  overflow: hidden;
  box-shadow: var(--shadow);
  max-width: 300px;
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  background-color:  var(--blue);
  transition: .25s all ease;
  pointer-events: none;
  color: var(--white);
}
/* Transition */
.select:hover::after {
  color: #f39c12;
}


/**************************************************** checkbox ********************************************/

input[type=checkbox] + label {
  margin: 0.2em;
  cursor: pointer;
  padding: 0.2em;
  font-family: 'Arial';
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label:before {
  content: "\2714";
  border: 0.1em solid var(--blue);
  border-radius: 0.2em;
  display: inline-block;
  width: 1em;
  height: 1em;
  padding-left: 0.2em;
  padding-bottom: 0.3em;
  margin-right: 0.2em;
  vertical-align: bottom;
  color: transparent;
  transition: .2s;
}

input[type=checkbox] + label:active:before {
  transform: scale(0);
}

input[type=checkbox]:checked + label:before {
  background-color: var(--blue);
  border-color: var(--blue);
  color: #fff;
}

input[type=checkbox]:disabled + label:before {
  transform: scale(1);
  border-color: #aaa;
}

input[type=checkbox]:checked:disabled + label:before {
  transform: scale(1);
  background-color: #F7C28F;
  border-color: #F7C28F;
}

#product1_add > div  {
    background-color: red;
}

.buy {
  width: 100%;
  margin-top: 24px;
}


/************************************************ responsive *************************************************/

@media all and (max-width:960px) and (min-width:720px){
  .container{
      width:100%;
      padding:10px;
  }

  .socialIcons {
      width: 25%;
  }
  .searchBar {
      width: 40%;
  }
  nav{
      display:none;
  }

  .slider {
      flex-direction: column;
  }
  
  .tvWrapper {
      margin:auto;
  }
  .textWrapper{
      margin:auto;
  }

  .serviceItems {
      justify-content: space-around;
  }
}

@media all and (max-width:960px) and (min-width:870px){
  .socialIcons {
      width: 20%;
  }

}

@media all and (max-width:720px) and (min-width:630px) {
  .container{
      width:100%;
      padding:10px;
  }

  .socialIcons {
      width: 30%;
  }
  .searchBar {
      width: 45%;
  }
  nav{
      display:none;
  }

  .slider {
      flex-direction: column;
  }
  
  .tvWrapper {
      margin:auto;
  }
  .textWrapper{
      margin:auto;
  }

  .serviceItems {
      justify-content: space-around;
  }
}

@media all and (max-width:630px) and (min-width:520px) {
  .container{
      width:100%;
      padding:10px;
  }

  .socialIcons {
      width: 30%;
  }
  .searchBar {
      width: 45%;
  }
  nav{
      display:none;
  }

  .slider {
      flex-direction: column;
  }
  
  .tvWrapper {
      margin:auto;
  }
  .textWrapper{
      margin:auto;
  }

  .serviceItems {
      justify-content: space-around;
  }

  .serviceItem{
      width:50%;
  }

  .introItem {
      width:100%;
  }

  .shout {
      width: 100%;
  }

  .serviceTextWrapper {
      width: 145px;
  }

  .serviceText {
      font-size: 11px;
  }

  .footer {
      grid-template-columns: repeat(2, 1fr);
  }

}

@media all and (max-width:590px) and (min-width:520px) {
  .socialIcons {
      width: 35%;
  }
}

@media all and (max-width:520px) and (min-width:452px) {
  .container{
      width:100%;
      padding:10px;
  }

  .socialIcons {
      width: 40%;
  }

  .searchButton {
      font-size: 11px;
  }
  .searchBar {
      width: 45%;
  }
  nav{
      display:none;
  }

  .slider {
      flex-direction: column;
  }
  
  .tvWrapper {
      margin:auto;
  }
  .textWrapper{
      margin:auto;
  }

  .serviceItems {
      justify-content: space-around;
  }

  .serviceItem{
      width:70%;
  }

  .introItem {
      width:100%;
  }

  .shout {
      width: 100%;
  }

  .footer {
      grid-template-columns: repeat(2, 1fr);
  }

}


@media all and  (max-width:452px) and (min-width:320px) {
  
body{
  min-width:320px;
  display:block;
}

.tv {
  width: 300px;
  height: 235px;
}

.screen {
  width: 274px;
  height: 154px;
  top: 11px;
  left: 13px;
}

.logo {
  width: 300px;
  height: 60px;
}
.upHeader {
  flex-direction: column;
}

.socialIcons {
  width: 60%;
}

.searchBar {
  width: 100%;
  margin-top:10px;
}

.shout {
  width: 100%;
}

.logoItemUP {
  height: 50%;
}

.textWrapper {
  width: 300px;
}

.sliderTitle {
  text-align: center;
}

.container{
  width:100%;
  padding:10px;
}


.searchButton {
  font-size: 11px;
}

nav{
  display:none;
}

.slider {
  flex-direction: column;
}

.tvWrapper {
  margin:auto;
}
.textWrapper{
  margin:auto;
}

.serviceItems {
  justify-content: space-around;
}

.serviceItem{
  width:100%;
}

.introItem {
  width:100%;
}


.footer {
  grid-template-columns: repeat(2, 1fr);
}
}

@media all and  (max-width:452px) and (min-width:362px) {
  .serviceItem{
      width:85%;
  }
}

@media all and  (max-width:320px)  {
  
  body{
      min-width:320px;
      display:block;
  }

  .textWrapper {
      width: 300px;
  }

  .tv {
      width: 300px;
      height: 235px;
  }

  .screen {
      width: 274px;
      height: 154px;
      top: 11px;
      left: 13px;
  }

  .logo {
      width: 300px;
      height: 60px;
  }
  .upHeader {
      flex-direction: column;
  }
  
  .socialIcons {
      width: 60%;
  }
  
  .searchBar {
      width: 100%;
      margin-top:10px;
  }
  
  .shout {
      width: 100%;
  }

  .logoItemUP {
      height: 30%;
  }

  .logoItemDown {
    padding-top: 16px;
  }
  
  .sliderTitle {
      text-align: center;
  }
  
  .container{
      width:100%;
      padding:10px;
  }
    
  .searchButton {
      font-size: 11px;
  }

  nav{
      display:none;
  }
  
  .slider {
      flex-direction: column;
  }
  
  .tvWrapper {
      margin:auto;
  }
  .textWrapper{
      margin:auto;
  }
  
  .serviceItems {
      justify-content: space-around;
  }
  
  .serviceItem{
      width:100%;
  }
  
  .introItem {
      width:100%;
  }
  
  
  .footer {
      grid-template-columns: repeat(2, 1fr);
  }
  }